
<!doctype html>
<html lang="en" class="fixed">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>V1.0.1</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!--通用-->
    <link href="/iconfont/iconfont.css" rel="stylesheet"><!--阿里图标-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/web-style.css">
    <script src="/js/jquery-1.11.2.min.js"></script>
	
</head>

<body class="login-content">
<div id="loginapp">
    <div class="panel-login">
        <div class="logo">
            <img id="login_logo" style="height: 20px;"/>
        </div>
        <div class="panel-content">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">账号</label>
                    <div class="col-sm-8">
                        <span class="input-with-icon">
                            <input type="text" placeholder="请输入账号" class="form-control" id="username" />
                            <i class="iconfont icon-yonghuming"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">密码</label>
                    <div class="col-sm-8">
                        <span class="input-with-icon">
                            <input type="password" placeholder="请输入密码" class="form-control" id="password" />
                            <i class="iconfont icon-mima"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button  class="btn login-btn" onclick="login()"><img src="images/login-font.png" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-bg"></div>
    <img  class="login_img" />
</div>
<script src="/js/vue/vue.min.js"></script>
<script src="/js/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

function login(){
	var username = $("#username").val();
	var password = $("#password").val();
	
	if(null==username||""==username){
		layer.msg("用户名不能为空");
		return;
	}
	if(null==password||""==password){
		layer.msg("密码不能为空");
		return;
	}
	var data = {
		'username' : username ,
		'password' : password 
	}
	console.log('postdata',data);
	$.ajax({
	      type: 'POST', //type
	      url: '/work/user/login', //url
	      data: data,
	      dataType: 'json',
	      async: false,
	      success: function(data) {
	        if(data.code==200){
	        	console.log('success_data',data);
	        	window.location.href='book.html';
	        }else{
	        	console.log('data.message',data);
	      	  alert(data.message);
	        }
	      },
	      error: function(message) {
	   	   console.log(message);
	      }
	    })
}


</script>

</body>

</html>
